/*=======================================
           common css s
=========================================*/
a{
  text-decoration: none;
}
.box{
  display: flex;
}

.heroP-btn{
  font-family: Poppins;
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
}
.box i{
  position: absolute;
  transition: .4s ease-in-out;
}
.heroP-btn:hover i{
  opacity: 0;
}


.contant-h2-p h2{
  width: auto;
  font-family: Poppins, sans-serif;
  line-height: 64px;
  font-weight: 600;
  font-size: 48px;
}
.contant-h2-p p{
  font-family: Poppins, sans-serif;
  line-height: 28px;
  font-weight: 400;
  font-size: 16px;
}

.contant-h5-p h5{
  font-family: Poppins, sans-serif;
  line-height: 48px;
  font-weight: 600;
  font-size: 32px;
}
.contant-h5-p p{
  font-family: Poppins, sans-serif;
  line-height: 28px;
  font-weight: 400;
  font-size: 16px;
}

.c-r-left-h6-p h6{
  font-family: Poppins, sans-serif;
  font-size: 38px;
  font-weight: 700;
  line-height: 56px;
}
.c-r-left-h6-p p{
  font-family: Poppins, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
}

.accordion



.client-profile .profile-img{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 20px;
}
.client-profile .profile-img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
}
.client-profile .userName{
  font-family: Poppins, sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 32px;
  margin-bottom: -6px;
}
.client-profile .profession{
  font-family: Poppins, sans-serif;
  font-size: 12px;
  font-weight: 600;
  line-height: 28px;
}


/*=======================================
           common css e
=========================================*/

/*=======================================
           nav css s
=========================================*/
.navbar{
  background: #1C1E53;
  padding: 16px 0;
}
.navbar-nav{
  column-gap: 32px;
}
.navbar-nav li a{
  color: #BBBBCB !important;
  font-family: Poppins;
  font-weight: 500;
  font-size: 16px;
  transition: .2s ease-in-out;
}
.navbar-nav li:hover a{
  color: #ffffff !important;
}
.nav-btn{
  margin-left: 48px;
  font-family: Poppins;
  font-weight: 500;
  font-size: 16px;
  padding: 16px 47px;
  border-radius: 41px;
  color: white;
  border: 2px solid rgba(244, 246, 252, .2);
  transition: .2s ease-in-out;
}
.nav-btn:hover{
  background: #FCD980;
  color: black;
}
/*=======================================
           nav css e
=========================================*/

/*=======================================
           hero css s
=========================================*/
.hero-part{
  background: #1C1E53;
  padding-bottom: 128px;
}
.hero-part h1{
  width: 582px;
  color: white;
  font-size: 54px;
  font-weight: 700;
  line-height: 74px;
  font-family: Poppins;
  padding-top: 126px;
}
.hero-part  p{
  width: 562px;
  color: rgba(255, 255, 255, .7);
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
  font-family: Poppins;
  padding-top: 24px;
  margin-bottom: 48px;
}

.hero-btn{
  font-family: Poppins;
  font-weight: 500;
  font-size: 16px;
  padding: 16px 56px;
  border-radius: 41px;
  color: rgb(0, 0, 0);
  background: #FCD980;
  border: 2px solid transparent;
  transition: .2s ease-in-out;
}
.hero-btn:hover{
  color: white;
  border: 2px solid rgba(244, 246, 252, .2);
  background: transparent;

  
}

.heroI{
  align-items: end;
}
.heroI img{
  padding-top: 149px;
  width: 100%;
}
.hero-part .heroP-btn{
  color: white;
  margin-left: 17px;
}


.hero-part .box{
  position: relative;
  align-items: center;
  display: inline-block;
}
.hero-part .box i{
  color: white;
  font-size: 16px;
  bottom: 3px;
  right: -34px;
}
.heroP-btn:hover i{
  right: -172px;
}

/*=======================================
           hero css e
=========================================*/

/* =======================================
           work project css s
=========================================  */


.work-project{
  background: #F4F6FC;
}


.work-project .heroP-btn{
  color: #2405F2;
}
.work-project .box{
  position: relative;
  align-items: center;
  display: inline-block;
}
.work-project .box i{
  color: #2405F2;
  font-size: 16px;
  bottom: 3px;
  right: -34px;
}
.heroP-btn:hover i{
  right: -172px;
}


.work-project h2{
  padding-top: 128px;
}
.work-project .contant-h2-p p{
  padding: 16px 0;
}

.pointerWp{
  width: 50px;
  height: 50px;
  overflow: hidden;
}
.pointerWp{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.forMarginWp{
  margin-top: 16px;
  margin-bottom: 8px;
}
.right-Wp{
  width: 328px;
}
.rightPart-Wp{
  margin-top: 128px;
}
.right-down-wp{
  margin-top: 48px;
  margin-bottom: 129px;
}
.work-project .contant-h5-p h5{
  width: 328px;
}
.work-project .contant-h5-p p{
  width: 303px;
}
/* =======================================
           work project css e
=========================================  */

/* =======================================
          project img css s
  ========================================= */

.project-img{
  /* background: #000; */
  margin-bottom: 128px;
}
.project-img .project-img-top{
  margin-top: 128px;
  margin-bottom: 64px;
}
.project-img .box{
  justify-content: space-between;
  margin-right: 50px;
}
.project-img .heroP-btn{
  color: #282938;
}
.project-img .box{
  position: relative;
  align-items: center;
}
.project-img .box i{
  color: #282938;
  font-size: 16px;
  bottom: 3px;
  right: -34px;
}
.heroP-btn:hover i{
  right: -172px;
}



.project-img .Card-p-i-1{
  width: 843px;
  height: 600px;
}
.project-img .overly-1{
  width: 50%;
  height: 100%;
  padding: 312px 50px 76px 50px;
  background: linear-gradient(to bottom right,
        rgba(139, 134, 167, 0.8),
        rgba(102, 83, 139, 0.8),
        rgba(46, 49, 88, 0.8));
}

.project-img .overly-1 .title{
  width: 313px;
  line-height: 36px;
  font-size: 24px;
  font-weight: 600;
  color: white;
  font-family: Poppins, sans-serif;
}
.project-img .overly-1 .description{
  width: 300px;
  line-height: 28px;
  font-size: 18px;
  font-weight: 500;
  font-family: Poppins, sans-serif;
  margin-top: 16px;
  color: white;
  margin-bottom: 40px;
}

.project-img .position-1object{
  position: relative;
  overflow: hidden;
  
}
.project-img .overly-1{
  position: absolute;
  top: 0;
  left: -439px;
  transition: .3s ease-out;
  
}
.project-img .position-1object:hover .overly-1{
  left: 0;
}
.Card-p-i-1 img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}



.project-img .heroP-btn{
  color: #FCD980;
}
.project-img .overly-1 .box{
  position: relative;
  align-items: center;
  display: inline-block;
}
.project-img .overly-1 .box i{
  color: #FCD980;
  font-size: 16px;
  bottom: 3px;
  right: -34px;
}
.project-img .overly-1 .heroP-btn:hover i{
  right: -172px;
}



.Card-p-2-3{
  row-gap: 32px;
}
.Card-p-i-2{
  width: 405px;
  height: 284px;
}
.Card-p-i-2 img{
  width: 100%;
  height: 100%;
}


.project-img .overly-2{
  width: 100%;
  height: 100%;
  padding: 130px 40px 45px 40px;
  background: linear-gradient(to bottom right,
        rgba(139, 134, 167, 0.8),
        rgba(102, 83, 139, 0.8),
        rgba(46, 49, 88, 0.8));
}

.project-img .overly-2 .title{
  width: 313px;
  line-height: 36px;
  font-size: 24px;
  font-weight: 600;
  color: white;
  font-family: Poppins, sans-serif;
}
.project-img .overly-2 .description{
  width: 300px;
  line-height: 28px;
  font-size: 18px;
  font-weight: 500;
  font-family: Poppins, sans-serif;
  margin-top: 16px;
  color: white;
  margin-bottom: 40px;
}


.project-img .p-overly-2{
  position: relative;
  overflow: hidden;
}
.project-img .p-overly-2:hover .overly-2{
  top: 0px;
}
.project-img .p-overly-2 .overly-2{
  position: absolute;
  top: -286px;
  left: 0;
  transition: .3s ease-out;
}


.project-img .overly-2 .box i{
  color: #FCD980;
  font-size: 16px;
  bottom: 3px;
  right: 170px;
}
.project-img .overly-2 .heroP-btn:hover i{
  right: 83px;
}
  /* =======================================
          project img css e
  ========================================= */

/* =======================================
        Design and solves img css s
========================================= */
.d-s-solve{
  background: #F4F6FC;
  padding-bottom: 128px;
}
.contant-h2-p h2{
  padding-top: 128px;
}
.d-s-solve .contant-h2-p{
width: 630px;
margin: auto;
margin-top: 168px;
margin-bottom: 47px;
}
.d-s-solve .contant-h2-p h2{
text-align: center;
}
.d-s-solve p{
width: 294px !important;
}
.d-s-solve .icon{
  width: 35px;
  height: 35px;
}
.d-s-solve .icon img{
  width: 100%;
  height: 100%;
}
.d-s-solve h5{
  font-size: 24px;
  padding: 22px 0 12px 0;
}


.d-s-solve .d-s-solve-color{
  background: rgb(255, 255, 255);
  padding: 58px 32px 48px 32px;
}
.d-s-solve .col-lg-12{
  padding: 58px 32px 48px 48px;
}



/* =======================================
        Design and solves img css e
========================================= */

/* =======================================
        client reviews css start
========================================= */
.clinet-reviews{
  background: #F4F6FC;
}
.clinet-reviews .all-container{
  padding-top: 128px;
}
.clinet-reviews h6{
  width: 327px;
  color: #282938;
  margin-bottom: 16px;
}
.clinet-reviews .c-r-left p{
  width: 327px;
  color: rgba(40, 41, 56, .7);
  margin-bottom: 192px;
}
.clinet-reviews .contant-h5-p h5{
  margin-bottom: 28px;
}
/* =======================================
        client reviews css end
========================================= */

/* =======================================
            FAQ css s
======================================== */
.FAQ .c-r-left-h6-p h6{
  width: 328px;
}
.FAQ .c-r-left-h6-p p{
  font-size: 18px !important;
  color: #2405f2;
  padding-top: 16px;
}
.FAQ-container{
  padding-top: 128px;
}
/* =======================================
            FAQ css e
======================================== */
