/*=======================================
           common css s
=========================================*/
a{
  text-decoration: none;
}
.box{
  display: flex;
}

.heroP-btn{
  font-family: Poppins;
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
}
.box i{
  position: absolute;
  transition: .4s ease-in-out;
}
.heroP-btn:hover i{
  opacity: 0;
}


li{
  list-style: none;
}
a{
  text-decoration: none;
}




.contant-h2-p h2{
  width: auto;
  font-family: Poppins, sans-serif;
  line-height: 64px;
  font-weight: 600;
  font-size: 48px;
}
.contant-h2-p p{
  font-family: Poppins, sans-serif;
  line-height: 28px;
  font-weight: 400;
  font-size: 16px;
}

.contant-h5-p h5{
  font-family: Poppins, sans-serif;
  line-height: 48px;
  font-weight: 600;
  font-size: 32px;
}
.contant-h5-p p{
  font-family: Poppins, sans-serif;
  line-height: 28px;
  font-weight: 400;
  font-size: 16px;
}

.c-r-left-h6-p h6{
  font-family: Poppins, sans-serif;
  font-size: 38px;
  font-weight: 700;
  line-height: 56px;
}
.c-r-left-h6-p p{
  font-family: Poppins, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
}


.comon-h4-p h4{
  font-size: 54px;
  color: white;
  font-family: Poppins, sans-serif;
  font-weight: 700;
  line-height: 74px;
}
.comon-h4-p p{
  font-size: 16px;
  color: white;
  font-family: Poppins, sans-serif;
  font-weight: 500;
  line-height: 28px;

}




.client-profile .profile-img{
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.client-profile .profile-img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
}
.client-profile .profile-title{
  margin-left: 20px;
}
.client-profile .userName{
  font-family: Poppins, sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 32px;
  margin-bottom: -6px;
}
.client-profile .profession{
  font-family: Poppins, sans-serif;
  font-size: 12px;
  font-weight: 600;
  line-height: 28px;
}


/*=======================================
           common css e
=========================================*/

/*=======================================
           nav css s
=========================================*/
.navbar{
  background: #1C1E53;
  padding: 0px !important;
}
.navbar-brand{
  width: 130px;
  padding: 32px 0px;
}
.navbar-brand img{
  width: 100%;
}
.navbar-nav{
  column-gap: 32px;
}
.navbar-nav li a{
  color: #BBBBCB !important;
  font-family: Poppins;
  font-weight: 500;
  font-size: 16px;
  transition: .2s ease-in-out;
}
.navbar-nav li:hover a{
  color: #ffffff !important;
}
.nav-btn{
  display: inline-block !important;
  margin-left: 48px;
  font-family: Poppins;
  font-weight: 500;
  font-size: 16px;
  padding: 16px 47px;
  border-radius: 41px;
  color: white;
  border: 2px solid rgba(244, 246, 252, .2);
  transition: .2s ease-in-out;
  
}
.nav-btn:hover{
  background: #FCD980;
  color: black;
}
/*=======================================
           nav css e
=========================================*/

/*=======================================
           hero css s
=========================================*/
.hero-part{
  background: #1C1E53;
  padding-bottom: 128px;
}
.hero-part h1{
  width: 582px;
  color: white;
  font-size: 54px;
  font-weight: 700;
  line-height: 74px;
  font-family: Poppins;
  padding-top: 126px;
}
.hero-part  p{
  width: 562px;
  color: rgba(255, 255, 255, .7);
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
  font-family: Poppins;
  padding-top: 24px;
  margin-bottom: 48px;
}

.hero-btn{
  font-family: Poppins;
  font-weight: 500;
  font-size: 16px;
  padding: 16px 56px;
  border-radius: 41px;
  color: rgb(0, 0, 0);
  background: #FCD980;
  border: 2px solid transparent;
  transition: .2s ease-in-out;
}
.hero-btn:hover{
  color: white;
  border: 2px solid rgba(244, 246, 252, .2);
  background: transparent;

  
}

.heroI{
  align-items: end;
}
.heroI img{
  padding-top: 149px;
  width: 100%;
}
.hero-part .heroP-btn{
  color: white;
  margin-left: 17px;
  position: relative;

}


.hero-part .box{
  display: inline-block;
}
.hero-part .box a i{
  color: white;
  position: absolute;
  font-size: 16px;
  
  top: 35%;

  right: -28px !important;
}


.hero-part .box .heroP-btn:hover i{
  right: -260px !important;
}

/*=======================================
           hero css e
=========================================*/

/* =======================================
           work project css s
=========================================  */


.work-project{
  background: #F4F6FC;
}


.work-project .heroP-btn{
  color: #2405F2;
}
.work-project .box{
  position: relative;
  align-items: center;
  display: inline-block;
}
.work-project .box i{
  color: #2405F2;
  font-size: 16px;
  bottom: 3px;
  right: -34px;
}
.heroP-btn:hover i{
  right: -172px;
}


.work-project h2{
  padding-top: 128px;
}
.work-project .contant-h2-p p{
  padding: 16px 0;
}

.work-project .pointerWp{
  width: 50px;
  height: 50px;
  overflow: hidden;
}
.pointerWp img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.forMarginWp{
  margin-top: 16px;
  margin-bottom: 8px;
}
.right-Wp{
  width: 328px;
}
.rightPart-Wp{
  margin-top: 128px;
}
.right-down-wp{
  margin-top: 48px;
  margin-bottom: 129px;
}
.work-project .contant-h5-p h5{
  width: 328px;
}
.work-project .contant-h5-p p{
  width: 303px;
}
/* =======================================
           work project css e
=========================================  */

/* =======================================
          project img css s
  ========================================= */

.project-img{
  /* background: #000; */
  margin-bottom: 128px;
}
.project-img .project-img-top{
  margin-top: 128px;
  margin-bottom: 64px;
}
.project-img .box{
  justify-content: space-between;
  margin-right: 50px;
}
.project-img .box .heroP-btn{
  color: #282938;
  position: relative;
  margin-top: 14px;
}
.project-img .box .heroP-btn:hover i{
  left: 210px !important;
}
.project-img .box .heroP-btn i{
  color: #282938;
  position: absolute !important;
  left: 99px !important;
  bottom: 50% !important;
  transform: translateY(50%) !important;
}




.project-img .Card-p-i-1{
  width: 843px;
  height: 600px;
}
.project-img .overly-1{
  width: 50%;
  height: 100%;
  padding: 312px 50px 76px 50px;
  background: linear-gradient(to bottom right,
        rgba(139, 134, 167, 0.8),
        rgba(102, 83, 139, 0.8),
        rgba(46, 49, 88, 0.8));
}

.project-img .overly-1 .title{
  width: 313px;
  line-height: 36px;
  font-size: 24px;
  font-weight: 600;
  color: white;
  font-family: Poppins, sans-serif;
}
.project-img .overly-1 .description{
  width: 300px;
  line-height: 28px;
  font-size: 18px;
  font-weight: 500;
  font-family: Poppins, sans-serif;
  margin-top: 16px;
  color: white;
  margin-bottom: 40px;
}

.project-img .position-1object{
  position: relative;
  overflow: hidden;
  padding-left: 0;
}
.project-img .overly-1{
  position: absolute;
  top: 0;
  left: -439px;
  transition: .3s ease-out;
  
}
.project-img .position-1object:hover .overly-1{
  left: 0;
}
.Card-p-i-1 img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}



.project-img .overly-1 .heroP-btn{
  color: #FCD980;
  position: relative;
}
.project-img .overly-1 .box{
  display: inline-block;
}
.project-img .overly-1 .box i{
  color: #FCD980;
  font-size: 16px;
  top: 0% !important;
  left: 110px !important;
}
.project-img .overly-1 .heroP-btn:hover i{
  right: -172px;
}



.Card-p-2-3{
  row-gap: 32px;
}
.Card-p-i-2{
  width: 405px;
  height: 284px;
}
.Card-p-i-2 img{
  width: 100%;
  height: 100%;
}


.project-img .overly-2{
  width: 100%;
  height: 100%;
  padding: 130px 40px 45px 40px;
  background: linear-gradient(to bottom right,
        rgba(139, 134, 167, 0.8),
        rgba(102, 83, 139, 0.8),
        rgba(46, 49, 88, 0.8));
}

.project-img .overly-2 .title{
  width: 313px;
  line-height: 36px;
  font-size: 24px;
  font-weight: 600;
  color: white;
  font-family: Poppins, sans-serif;
}
.project-img .overly-2 .description{
  width: 300px;
  line-height: 28px;
  font-size: 18px;
  font-weight: 500;
  font-family: Poppins, sans-serif;
  margin-top: 16px;
  color: white;
  margin-bottom: 40px;
}


.project-img .p-overly-2{
  position: relative;
  overflow: hidden;
}
.project-img .p-overly-2:hover .overly-2{
  top: 0px;
}
.project-img .p-overly-2 .overly-2{
  position: absolute;
  top: -286px;
  left: 0;
  transition: .3s ease-out;
}


.project-img .overly-2 .box i{
  color: #FCD980;
  font-size: 16px;
  top: 0% !important;
  left: 116px !important;
}
.project-img .overly-2 .heroP-btn{
  position: relative;
  color: #FCD980;
}
.project-img .overly-2 .heroP-btn:hover i{
  right: 83px;
}
  /* =======================================
          project img css e
  ========================================= */

/* =======================================
        Design and solves img css s
========================================= */
.d-s-solve{
  background: #F4F6FC;
  padding: 128px 0px;
}
.d-s-solve .contant-h2-p h2{
  width: 630px;
  text-align: center;
  margin: auto;
  padding-bottom: 47px;
}
.d-s-solve .for-row-gap{
  row-gap: 13px;
}
.d-s-solve .contant-h5-p h5{
  padding-top: 22px;
  padding-bottom: 12px;
}
.d-s-solve .col-lg-4{
  padding-left: 0px;
}
.d-s-solve .d-s-solve-color {
  padding: 58px 72px 48px 70px;
  background: white;
}





/* =======================================
        Design and solves img css e
========================================= */

/* =======================================
        client reviews css start
========================================= */
.clinet-reviews{
  background: #F4F6FC;
}
.clinet-reviews .all-container{
  padding-top: 128px;
}
.clinet-reviews h6{
  width: 327px;
  color: #282938;
  margin-bottom: 16px;
}
.clinet-reviews .c-r-left p{
  width: 327px;
  color: rgba(40, 41, 56, .7);
  margin-bottom: 192px;
}
.clinet-reviews .contant-h5-p h5{
  margin-bottom: 28px;
}
/* =======================================
        client reviews css end
========================================= */

/* =======================================
            FAQ css s
======================================== */
.FAQ .c-r-left-h6-p h6{
  width: 328px;
}
.FAQ .c-r-left-h6-p p{
  font-size: 18px !important;
  color: #2405f2;
  padding-top: 16px;
}
.FAQ .container{
  padding-top: 128px;
  padding-bottom: 128px;
}
.FAQ .accordion-item{
  border: none;
}
.FAQ .accordion-button.collapsed{
  background: transparent !important;
}
.FAQ .accordion-button:focus{
  box-shadow: 0px 0px transparent !important;
}
.FAQ .accordion-button:not(.collapsed){
  box-shadow: 0px 0px transparent !important;
}
.FAQ .accordion-button{
  font-size: 24px;
  color: #282938;
  font-weight: 500;
  font-family: Poppins, sans-serif;
  line-height: 36px;
  background: transparent !important;
}
.FAQ .accordion-button span{
  color: #2405F2;
}
.FAQ .accordion-button span{
  margin-right: 59px;
}
.FAQ .accordion-body p{
  margin-left: 104px;
  padding-bottom: 15px;
}
.FAQ .accordion-body{
  border-bottom: 1px solid rgb(236, 236, 241);
  padding: 0px
}


.FAQ .accordion-button:not(.collapsed)::after{
  background-image: none;
  content: "-";
  transform: translateY(-45%) rotate(0) !important;
  transition: 0.3s ease-in-out;
}
.FAQ .accordion-button::after{
  background-image: none;
  content: "+";
  transform: translateY(-45%) rotate(0) !important;
  transition: 0.2s ease-in-out;
}

/* =======================================
            FAQ css e
======================================== */

/* =======================================
            input css s
======================================== */
.input-inf{
  padding-bottom: 77px;
}
.input-inf .input-img-part{
  width: 50%;
  position: relative;
  overflow: hidden;

}
.input-inf .input-img{
  width: 649px;
  height: 691px;
}
.input-inf .input-img-part img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.input-inf .input-img-part:hover .overly{
  top: 0px;
  opacity: 100%;
}
.input-inf .input-img-part .overly{
  width: 649px;
  height: 691px;
  background: rgba(28, 30, 83, 0.5);
  position: absolute;
  left: 0px;
  top: 691px;
  transition: 0.3s ease-in-out;
  opacity: 0%;
}
.input-inf .comon-h4-p{
  padding: 96px 96px 261px 96px;
}
.input-inf .input-content{
  width: 50%;
  background: #1C1E53;
  padding: 60px 96px 0px 96px;
  
}



.input-inf .input-content h5{
  color: white;
}
.input-inf .input-content p{
  color: #F4F6FC;
  padding-top: 17px;
  padding-bottom: 40px;
}
.input-inf .input-content form input{
  width: 100%;
  margin-bottom: 16px;
  padding: 18px 0px 18px 32px;
  border-radius: 8px;
  background: transparent;
  border: 1.5px solid rgba(244, 246, 252, 0.05);
  color: #F4F6FC;
  font-size: 16px;
  font-family: Poppins, sans-serif;
  font-weight: 400;
  outline: none;
}
.input-inf .input-content form input::placeholder{
  color: #F4F6FC;
  font-size: 16px;
  font-family: Poppins, sans-serif;
  font-weight: 400;
}
.input-inf .input-content button{
  padding: 16px 150px 16px 150px;
  background: #FCD980;
  border: 1px solid transparent;
  border-radius: 41px;
  color: #1B1C2B;
  font-family: Manrope, poppins, sans-serif;
  font-size: 18px;
  margin-top: 16px;
  margin-bottom: 35px;
  transition: 0.3s ease-in-out;
}
.input-inf .input-content button:hover{
  background: transparent;
  border: 1px solid #FCD980;
  color: white;
}
.input-inf .input-content .box1{
  justify-content: center;
}
.input-inf .input-content .box1 .heroP-btn{
  position: relative;
}
.input-inf .input-content .box1 a{
  color: white;
}
.input-inf .input-content .box1 a:hover i{
  right: -142px;
}
.input-inf .input-content .box1 i{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -33px;
  color: white;
}

/* =======================================
            input css e
======================================== */
/* =======================================
            Blog css e
======================================== */
.blog-sec{
  margin-bottom: 179px;
}
.blog-sec h2{
  margin-bottom: 64px;
}
.blog-sec .card-body{
  padding: 0px !important;
  border: none !important;
  border-radius: 0px !important;
}
.blog-sec .card{
  border-radius: 0px !important;
  border: 0px solid transparent;
}
.blog-sec .card img{
  border-radius: 0px !important;
}
.blog-sec .card-body .date-element p{
  font-size: 16px;
  color: rgba(40, 41, 56, 0.7);
  margin-top: 40px;
  margin-bottom: 0px;
  font-family: Poppins, sans-serif;
  font-weight: 500;
}
.blog-sec .card-body .card-title{
  margin: 16px 0;
  font-size: 24px;
  line-height: 36px;
  font-family: Poppins, sans-serif;
  font-weight: 500;
  color: #282938;
}
.blog-sec .card-body .card-text{
  margin-bottom: 32px;
  font-size: 16px;
  line-height: 28px;
  font-family: Poppins, sans-serif;
  font-weight: 400;
  color: rgba(40, 41, 56, 0.7);
}
.blog-sec .box{
  display: inline-block;
}
.blog-sec .box .heroP-btn{
  position: relative;
  color: #282938;
}
.blog-sec .box i{
  color: #282938;
  font-size: 16px;
  top: 29% !important;
  right: -28px;
}


.blog-sec .heroP-btn:hover i{
  right: -172px;
}

/* =======================================
            Blog css e
======================================== */
/* =======================================
            footer css s
======================================== */
footer{
  background: #1C1E53;
  padding-top: 100px;
}
footer .col-lg-6 .footer-logo{
  width: 158px;
  height: 38px;
  margin-bottom: 22px;
}
footer .col-lg-6 .footer-logo img{
  width: 100%;
  height: 100%;
}
footer .col-lg-6 .contant-h2-p p{
  width: 399px;
  color: rgba(255, 255, 255, 08);
  padding-bottom: 86px;
  
}
footer .col-lg-6 .overly{
  width: 517px;
  height: 95px;
  background: #FCD980;
}
footer .footer-content{
  padding-left: 37px;
  padding-top: 17px;
}
footer .footer-content h6{
  font-size: 18px !important;
  font-family: Poppins, sans-serif;
  font-weight: 500;
  line-height: 32px;
  color: #282938;
}
footer .footer-content p{
  font-size: 16px !important;
  font-family: Poppins, sans-serif !important;
  font-weight: 400;
  line-height: 28px;
  color: #282938;
}


.footer-content-right .contant-h2-p h2{
  color: white;
}
.footer-content-right .contant-h2-p p{
  padding: 0px !important;
  
  margin-bottom: 28px;
}
footer .footer-content .contant-h2-p p{
  color: #F4F6FC;
  margin-top: 14px;
}

footer .box{
  column-gap: 26px;
}

.footer-content-right .facebook, .twiter, .instagram, .linkedin{
  width: 16px;
  height: 16px;
}
.footer-content-right .facebook img{
  width: 100%;
  height: 100%;
  vertical-align: top;
}
.footer-content-right .twiter img {
  width: 100%;
  height: 100%;
  vertical-align: top;
}
.footer-content-right .instagram img{
  width: 100%;
  height: 100%;
  vertical-align: top;
}
.footer-content-right .linkedin img{
  width: 100%;
  height: 100%;
  vertical-align: top;
}



.end{
  background: white;
  padding-top: 0px;
  padding: 32px 0px;
}
.end .copy-right{
  width: 50%;
}
.end .copy-right p{
  color: #282938;
  font-size: 16px;
  font-weight: 500;
  font-family: Poppins, sans-serif;
  margin-top: 0px;
  margin-bottom: 0px;
}
.end .footer-menu{
  width: 50%;
}
.end .footer-menu ul{
  display: flex;
  justify-content: flex-end;
  column-gap: 35px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.end .footer-menu ul li a{
  color: #282938;
  font-size: 16px;
  font-weight: 500;
  font-family: Poppins, sans-serif;
}

/* =======================================
            footer css e
======================================== */
