/*=======================================
           common css s
=========================================*/
a{
  text-decoration: none;
}
.box{
  display: flex;
}

.heroP-btn{
  font-family: Poppins;
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
}
.box i{
  position: absolute;
  transition: .4s ease-in-out;
}
.heroP-btn:hover i{
  opacity: 0;
}


.contant-h2-p h2{
  width: 405px;
  font-family: Poppins, sans-serif;
  line-height: 64px;
  font-weight: 600;
  font-size: 48px;
}
.contant-h2-p p{
  width: 405px;
  font-family: Poppins, sans-serif;
  line-height: 28px;
  font-weight: 400;
  font-size: 16px;
}

.contant-h5-p h5{
  width: 328px;
  font-family: Poppins, sans-serif;
  line-height: 48px;
  font-weight: 600;
  font-size: 32px;
}
.contant-h3-p p{
  width: 303px;
  font-family: Poppins, sans-serif;
  line-height: 28px;
  font-weight: 400;
  font-size: 16px;
}
/*=======================================
           common css e
=========================================*/

/*=======================================
           nav css s
=========================================*/
.navbar{
  background: #1C1E53;
  padding: 16px 0;
}
.navbar-nav{
  column-gap: 32px;
}
.navbar-nav li a{
  color: #BBBBCB !important;
  font-family: Poppins;
  font-weight: 500;
  font-size: 16px;
  transition: .2s ease-in-out;
}
.navbar-nav li:hover a{
  color: #ffffff !important;
}
.nav-btn{
  margin-left: 48px;
  font-family: Poppins;
  font-weight: 500;
  font-size: 16px;
  padding: 16px 47px;
  width: 185px;
  height: 60px;
  border-radius: 41px;
  color: white;
  border: 2px solid rgba(244, 246, 252, .2);
  transition: .2s ease-in-out;
}
.nav-btn:hover{
  background: #FCD980;
  color: black;
}
/*=======================================
           nav css e
=========================================*/

/*=======================================
           hero css s
=========================================*/
.hero-part{
  background: #1C1E53;
  padding-bottom: 128px;
}
.hero-part h1{
  width: 582px;
  color: white;
  font-size: 54px;
  font-weight: 700;
  line-height: 74px;
  font-family: Poppins;
  padding-top: 126px;
}
.hero-part  p{
  width: 562px;
  color: rgba(255, 255, 255, .7);
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
  font-family: Poppins;
  padding-top: 24px;
  margin-bottom: 48px;
}

.hero-btn{
  font-family: Poppins;
  font-weight: 500;
  font-size: 16px;
  padding: 16px 56px;
  border-radius: 41px;
  color: rgb(0, 0, 0);
  background: #FCD980;
  border: 2px solid transparent;
  transition: .2s ease-in-out;
}
.hero-btn:hover{
  color: white;
  border: 2px solid rgba(244, 246, 252, .2);
  background: transparent;

  
}

.heroI{
  align-items: end;
}
.heroI img{
  padding-top: 149px;
  width: 100%;
}
.hero-part .heroP-btn{
  color: white;
  margin-left: 17px;
}


.hero-part .box{
  position: relative;
  align-items: center;
  display: inline-block;
}
.hero-part .box i{
  color: white;
  font-size: 16px;
  bottom: 3px;
  right: -34px;
}
.heroP-btn:hover i{
  right: -172px;
}

/*=======================================
           hero css e
=========================================*/

/* =======================================
           work project css s
=========================================  */


.work-project{
  padding-bottom: 349px;
  background: #F4F6FC;
}
.col-lg-5{
  background: red;
}
.work-project .heroP-btn{
  color: #2405F2;
}
.work-project .box{
  position: relative;
  align-items: center;
  display: inline-block;
}
.work-project .box i{
  color: #2405F2;
  font-size: 16px;
  bottom: 3px;
  right: -34px;
}
.heroP-btn:hover i{
  right: -172px;
}

.work-project h2{
  padding-top: 128px;
}
.work-project .contant-h2-p p{
  padding: 16px 0;
}

.pointerWp{
  width: 50px;
  height: 50px;
  overflow: hidden;
}
.pointerWp{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
/* =======================================
           work project css e
=========================================  */