@media (min-width: 320px) and (max-width: 575px){
  .navbar .navbar-toggler i{
    color: white;
    font-size: 20px;
  }
  .navbar .navbar-toggler{
    box-shadow: 0px 0px 0px transparent !important;
    border: none;
  }


}